body {
    background-color: var(--blackjack-color);
}

header ul {
    list-style: none;
    margin-right: 0;
    padding-right: 1em;
    padding-top: 0.5em;
    color: var(--off-white);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header li {
    font-size: 2em;
    padding: 0 0.4em;
}

