:root {
    --off-white: rgb(245, 245, 245);
    --dark-mode: rgb(28, 28, 28);
    --blue-glow: rgb(67, 183, 255);
    --paragraph-color: rgb(174, 197, 202);
    --space-color: rgb(65, 201, 255);
    --blackjack-color: rgb(24, 122, 71);
    --blackjack-color-dark: rgb(9, 54, 6);
}

@font-face { 
    font-family: 'Nunito Sans'; 
    src: url("/Portfolio/fonts/Nunito-Sans/static/NunitoSans_10pt-Regular.ttf");
}

@font-face { 
    font-family: 'Nunito Sans Bold'; 
    src: url("/Portfolio/fonts/Nunito-Sans/static/NunitoSans_10pt-Bold.ttf");
}

@font-face { 
    font-family: 'Nunito Sans Extra Bold'; 
    src: url("/Portfolio/fonts/Nunito-Sans/static/NunitoSans_10pt-ExtraBold.ttf");
}

@font-face { 
    font-family: 'Rajdhani'; 
    src: url("/PlanetNameGenerator/fonts/Rajdhani/Rajdhani-Regular.ttf");
}

@font-face { 
    font-family: 'Rajdhani Bold'; 
    src: url("/PlanetNameGenerator/fonts/Rajdhani/Rajdhani-Bold.ttf");
}

@font-face { 
    font-family: 'Playing Card'; 
    src: url("/Blackjack/fonts/jqkas-wild-font/JqkasWild.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    all: unset;
    cursor: pointer;
}