:root {
    --off-white: rgb(248, 248, 248);
    --space-color: rgb(65, 201, 255);
    --blackjack-color: rgb(24, 122, 71);
}

@font-face { 
    font-family: 'Rajdhani'; 
    src: url("/PlanetNameGenerator/fonts/Rajdhani/Rajdhani-Regular.ttf");
}

@font-face { 
    font-family: 'Rajdhani Bold'; 
    src: url("/PlanetNameGenerator/fonts/Rajdhani/Rajdhani-Bold.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*scroll-behavior: smooth;*/
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    all: unset;
    cursor: pointer;
}